@charset "UTF-8";

:root {
  --black: #000000;
  --white: #ffffff;
  --primary: var(--blue__500);
  --secondary: var(--white);
  --tertiary: #f5f5f5;
  --accent: #276ef1;
  --negative: #e11900;
  --warning: #ffc043;
  --positive: #048848;
  --positiveTransparent: rgba(4, 136, 72, 0.1);
  --negativeTranparent: rgba(225, 25, 0, 0.1);
  --blue__100: #cce3ff;
  --blue__200: #99c8ff;
  --blue__300: #66acff;
  --blue__400: #3391ff;
  --blue__500: #0075ff;
  --blue__600: #005ecc;
  --blue__700: #004699;
  --blue__800: #002f66;
  --blue__900: #001733;
  --red__100: #ffcccc;
  --red__200: #ff9999;
  --red__300: #ff6666;
  --red__400: #ff3333;
  --red__500: #ff0000;
  --red__600: #cc0000;
  --red__700: #990000;
  --red__800: #660000;
  --red__900: #330000;
  --yellow__100: #fff4cc;
  --yellow__200: #ffe999;
  --yellow__300: #ffdd66;
  --yellow__400: #ffd233;
  --yellow__500: #ffc700;
  --yellow__600: #cc9f00;
  --yellow__700: #997700;
  --yellow__800: #665000;
  --yellow__900: #332800;
  --green__100: #d7f8cc;
  --green__200: #b0f199;
  --green__300: #88eb66;
  --green__400: #61e433;
  --green__500: #39dd00;
  --green__600: #2eb100;
  --green__700: #228500;
  --green__800: #175800;
  --green__900: #0b2c00;
  --contents__contentPrimary: #000000;
  --contents__contentSecondary: #6b6b6b;
  --contents__contentTertiary: #a6a6a6;
  --gray__100: #e1e1e1;
  --gray__200: #c4c4c4;
  --gray__300: #a6a6a6;
  --gray__400: #898989;
  --gray__500: #6b6b6b;
  --gray__600: #565656;
  --gray__700: #404040;
  --gray__800: #2b2b2b;
  --gray__900: #151515;
  --border__borderTransparent: rgba(137, 137, 137, 0.3);
  --border__borderOpaque: #898989;
}
