@charset "UTF-8";

/* visual */
.visual {
  height: 256px;
  background-image: image-set('../images/bg_ut.jpg' 1x, '../images/bg_ut@2x.jpg' 2x, '../images/bg_ut@3x.jpg' 3x);
  background-position: center left 57%;
  background-size: auto 110%;

  .txt-area {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 28px;
    color: var(--primary);

    .ttl {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.4;
    }

    .desc {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  @media (width > 850px) {
    height: 359px;
    background-position: bottom 15% left 53%;
    background-size: auto 125%;

    .txt-area {
      .ttl {
        font-size: 38px;
      }
    }
  }

  @media (width > 1680px) {
    height: 450px;
    background-size: auto 115%;

    .txt-area {
      .ttl {
        font-size: 50px;
      }
    }
  }
}

/* faq UI */
.faq-group {
  border-bottom: 1px solid var(--border__borderTransparent);

  summary {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;

    &::marker {
      content: '';
    }

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      margin-inline-start: auto;
      background-image: url('../images/ico_more_blue.svg');
      background-size: 100% auto;
      background-position: top center;
      background-position: top 0 center;
      color: #0077cc;
    }
  }

  &[open] summary {
    &::after {
      background-position: top 24px center;
    }
  }

  .answer-box {
    padding: 24px;
    border-top: 1px solid var(--border__borderTransparent);
    font-size: 16px;
    line-height: 1.6;

    ul,
    ol {
      padding-inline-start: 1.4em;
    }

    &::after {
      content: '';
      display: block;
      height: 4px;
      border-bottom: 1px solid var(--contents__contentTertiary);
    }
  }
}
