<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../style/header-footer-component.css" />
    <title>헤더와 푸터 컴포넌트</title>
  </head>
  <body>
    <h2>헤더-데스크탑</h2>

    <div class="nav-desk">
      <div class="inner">
        <div class="logo-gnb">
          <div class="logo">
            <a href="#">
              <img src="./../images/logo.svg " alt="UT" />
            </a>
          </div>
          <div class="gnb">
            <a href="/"><span>기업정보</span><img src="./../images/Arrow.svg" alt="기업정보 펼치기" /></a>
            <a href="/"><span>안전</span></a>
            <a href="/"><span>고객지원</span></a>
            <a href="/"><span>차량 서비스</span></a>
            <a href="/"><span>기사지원</span><img src="./../images/Arrow.svg" alt="기사지원 펼치기" /></a>
          </div>
        </div>
        <div class="lang-sign">
          <div class="lang">
            <img src="./../images/World.svg" alt="언어변경" />
            <span>KO-KR</span>
          </div>
          <div class="sign">
            <a href="/">가입하기</a>
          </div>
          <img src="./../images/Hamburger.svg" alt="" />
        </div>
      </div>
    </div>

    <hr />
    <h2>헤더-모바일</h2>

    <div class="nav-mobile">
      <div class="inner">
        <div class="logo-gnb">
          <div class="logo">
            <a href="#">
              <img src="./../images/logo.svg " alt="UT" />
            </a>
          </div>
          <div class="gnb">
            <a href="/"><span>기업정보</span><img src="./../images/Arrow.svg" alt="기업정보 펼치기" /></a>
            <a href="/"><span>안전</span></a>
            <a href="/"><span>고객지원</span></a>
            <a href="/"><span>차량 서비스</span></a>
            <a href="/"><span>기사지원</span><img src="./../images/Arrow.svg" alt="기사지원 펼치기" /></a>
          </div>
        </div>
        <div class="lang-sign">
          <div class="lang">
            <img src="./../images/World.svg" alt="언어변경" />
            <span>KO-KR</span>
          </div>
          <div class="sign">
            <a href="/">가입하기</a>
          </div>
          <img src="./../images/Hamburger.svg" alt="" />
        </div>
      </div>
    </div>

    <hr />
    <h2>About</h2>

    <div class="about-set">
      <div class="card">
        <img src="./../images/Box.svg" alt="" />
        <h3>회사소개</h3>
        <span>UT의 회사 연혁과 핵심 가치 및 UT가 창출하는 다양한 기회에 알아보세요.</span>
        <a href="#">자세히 보기</a>
      </div>
      <div class="card">
        <img src="./../images/Paper.svg" alt="" />
        <h3>뉴스룸</h3>
        <span>UT의 회사 연혁과 핵심 가치 및 UT가 창출하는 다양한 기회에 알아보세요.</span>
        <a href="#">자세히 보기</a>
      </div>
    </div>

    <hr />
    <h2>푸터-데스크탑,테블릿</h2>
    <div class="footer">
      <div class="container">
        <div class="logo">
          <img src="./../images/logo.svg" alt="" />
          <span>고객지원 센터로 가기</span>
        </div>
        <div class="menu-list">
          <div class="list">
            <b>기업정보</b>
            <div class="item">
              <a href="#">회사 소개</a>
              <a href="#">뉴스룸</a>
              <a href="#">블로그</a>
              <a href="#">비즈니스 정보</a>
            </div>
          </div>
          <div class="list">
            <b>상품</b>
            <div class="item">
              <a href="#">차량 서비스</a>
              <a href="#">운영</a>
            </div>
          </div>
          <div class="list">
            <b>글로벌 시민 의식</b>
            <div class="item">
              <a href="#">안전</a>
            </div>
          </div>
        </div>
        <div class="sns-download">
          <div class="sns-lang">
            <div class="sns">
              <a href="#"><img src="./../images/Facebook.svg" alt="페이스북으로 가기" /></a>
              <a href="#"><img src="./../images/Youtube.svg" alt="유튜브로 가기" /></a>
              <a href="#"><img src="./../images/Instagram.svg" alt="인스타그램으로 가기" /></a>
            </div>
            <div class="lang">
              <div class="lang-btn btn">
                <img src="./../images/World.svg" alt="" />
                <span>한국어</span>
              </div>
              <div class="gps-btn btn">
                <img src="./../images/Pin.svg" alt="" />
                <span>서울</span>
              </div>
            </div>
          </div>
          <div class="download">
            <a href="#"><img src="./../images/Download-google.svg" alt="" /></a>
            <a href="#"><img src="./../images/Download-apple.svg" alt="" /></a>
          </div>
        </div>
        <div class="copyright">
          <div class="copy">
            <span>© 2022 UT LLC</span>
            <p>법인명: UT LLC | 사업자 등록 번호: 166-86-02049 | 회사 대표번호: 080-800-5555 | 대표: White Thomas Darcy | 회사 주소: 서울특별시 중구 삼일대로 343 | 통신판매번호: 2021-서울중구-0976</p>
          </div>
          <div class="term">
            <a href="#">개인정보 보호</a>
            <a href="#">약관</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
