<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UT 애플리케이션 다운로드 링크 그룹</title>
    <link rel="icon" href="./favicon/apple-favicon.svg" />
    <link rel="apple-touch-icon" href="./favicon/apple-favicon.svg" />
    <link rel="stylesheet" as="style" href="/src/common/index.css" />
  </head>
  <body>
    <!-- 앱 다운로드 링크 그룹 -->
    <section aria-labelledby="download-title">
      <h2 id="download-title" class="sr-only">UT 앱 다운로드</h2>
      <p>UT 앱에서 더욱 다양한 기능을 만나보세요</p>
      <ul class="download-list">
        <li>
          <a href="#" class="button for-passenger" aria-label="승객 앱 다운로드">
            <div class="left-wrap">
              <img src="../images/logo.png" alt="UT" class="logo" width="48" height="48" />
              <span class="app-label">승객 앱 다운로드</span>
            </div>
            <img src="../images/vector_9.svg" class="arrow" alt="앱 다운로드 받기" />
          </a>
        </li>
        <li>
          <a href="#" class="button for-driver" aria-label="기사 앱 다운로드">
            <div class="left-wrap">
              <img src="../images/logo.png" alt="UT" class="logo" width="48" height="48" />
              <span class="app-label">기사 앱 다운로드</span>
            </div>
            <img src="../images/vector_9.svg" class="arrow" alt="" aria-hidden="true" />
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
